.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 0px;
  grid-template-areas: "nav" "footer";
}

.nav {
  grid-area: nav;
}

.footer {
  grid-area: footer;
}

.spc-1 {
  margin: 2rem;
  padding: 1%;
}
.spc-1 .col {
  padding: 25px;
}
.spc-1 .col .card {
  width: 100%;
  border-radius: 50px;
  align-items: center;
}
.spc-1 .col .card img {
  padding: 25px;
  width: 100%;
  border-radius: 50px;
}
.spc-1 .col .card ol li {
  padding: 10px;
}

.catalogo-t {
  text-align: center;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(44, 156, 231, 0.5019607843);
}
.catalogo-t h1 {
  margin: 20px;
  padding: 10px;
  transition: all 1.2s;
  animation: fadeIn 1s ease-out;
}
.catalogo-t h1:hover {
  text-shadow: 2px 2px 4px rgba(218, 20, 20, 0.5019607843);
  font-size: 60px;
}

.sub {
  max-width: 100%;
  margin: 10px;
  padding: 10px 20;
}
.sub .sub-t {
  width: 100%;
  font-size: 35px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(44, 156, 231, 0.5019607843);
  padding: 10px 0;
  animation: zoomInOut 4s ease-in-out infinite;
  margin-right: 2%;
}

.formulario-s {
  padding: 20px;
  margin: 20px auto;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.formulario-s .mb-3 {
  margin: 25px;
}
.formulario-s .btn {
  margin: 25px;
}

* {
  margin: 0;
  padding: 0;
}

.apartado-a1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px;
  border: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.apartado-a1 img {
  height: 250px;
  width: 250px;
}
.apartado-a1 h5 {
  margin-top: 30px;
  margin-left: 30px;
}
.apartado-a1 P {
  margin: 30px;
}
.apartado-a1 .az-nosotros {
  border-radius: 50%;
  width: 200px;
  padding: 5px;
  height: 200px;
}

h1 {
  font-size: 36px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 30px;
  animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes zoomInOut {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.5);
  }
}
@keyframes slideFromTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@media only screen and (max-width: 760px) {
  .header {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .header .navbar .contenedor .izquierda .boton {
    margin-left: 10px;
  }
  .header .navbar .contenedor .izquierda .boton input[type=text] {
    padding: 3px;
    margin-right: 3px;
  }
  .header .navbar .contenedor .izquierda .boton button[type=submit] {
    padding: 3px 8px;
  }
  .container {
    flex-direction: column;
  }
  .container .destino .imagen img {
    max-width: 150px;
    float: none;
    margin: 0 auto 20px;
  }
  .container .destino .imagen img:hover {
    max-width: 200px;
  }
}
@media only screen and (max-width: 460px) {
  .footer {
    padding: 1px;
  }
  .footer .logo-d {
    width: 175px;
    height: 175px;
  }
  .footer .link-redes {
    flex-direction: column;
  }
  .footer .link-redes .social-media-link {
    padding: 10px;
  }
  .navbar .contenedor {
    flex-direction: column;
    align-items: center;
  }
  .navbar .contenedor .izquierda .logo {
    font-size: 18px;
    padding: 15px;
  }
  .navbar .nav-links {
    margin-right: 0;
  }
  .titulo {
    padding: 20px;
  }
  .container {
    flex-direction: column;
  }
  .container .destino .imagen img {
    max-width: 150px;
    float: none;
    margin: 0 auto 20px;
  }
  .container .destino .imagen img:hover {
    max-width: 200px;
  }
  .destino {
    width: 95%;
  }
  .destino .imagen {
    float: none;
    margin-bottom: auto;
  }
  .apartado-a1 {
    flex-direction: column;
  }
  .contenedor .boton .button {
    align-items: center;
    flex-direction: column;
  }
}
.navbar {
  margin: 5px;
  background-color: #078832;
  color: #fff;
  padding: 10px 0;
  border-radius: 20px;
  justify-content: space-around;
}
.navbar .contenedor {
  display: flex;
  justify-content: space-between;
}
.navbar .contenedor .izquierda {
  display: flex;
  align-items: center;
}
.navbar .contenedor .izquierda .logo {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: all 1s;
}
.navbar .contenedor .izquierda .logo:hover {
  font-size: 30px;
  color: #000000;
  border-radius: 30px;
  background-color: #ddd;
  margin-left: 2px;
}
.navbar .contenedor .izquierda .boton {
  margin-left: 20px;
}
.navbar .contenedor .izquierda .boton input[type=text] {
  padding: 5px;
  margin-right: 5px;
  border-radius: 10px;
}
.navbar .contenedor .izquierda .boton button[type=submit] {
  padding: 5px 10px;
  background-color: #fff;
  color: #333;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.navbar .contenedor .izquierda .boton button[type=submit]:hover {
  background-color: #ddd;
}
.navbar .nav-links {
  list-style: none;
  margin: 10px;
  padding: 10px;
  display: flex;
  margin-right: 35px;
}
.navbar .nav-links li {
  display: inline;
  margin-left: 20px;
}
.navbar .nav-links li:first-child {
  margin-left: 0;
}
.navbar .nav-links li a {
  color: #fff;
  text-decoration: none;
  transition: all 0.5s;
}
.navbar .nav-links li a:hover {
  border-radius: 10px;
  background-color: #000000;
  font-size: 24px;
}

.titulo {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 35px;
}
.titulo h1 {
  font-size: 36px;
  color: #000000;
  margin: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: fadeIn 1s ease-out;
}

.contenedor-3 {
  position: relative;
}

footer {
  margin: 5px;
  bottom: 0;
  height: 50%;
  width: 99.2%;
  background-color: #078832;
  color: #fff;
  display: flex;
  display: inline-block;
  border-radius: 25px;
}
footer .logo-d {
  width: 200px;
  height: 200px;
  padding: 2px 0;
}
footer .derechos {
  display: flex;
  justify-content: center;
  margin-top: auto;
  width: 100%;
  padding: 5px 0;
}
footer .contenedor-2 {
  display: flex;
  justify-content: space-between;
}
footer .contenedor-2 .apartado-a {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .contenedor-2 .apartado-a ol {
  margin-top: auto;
  list-style: none;
}
footer .contenedor-2 .apartado-a ol li {
  margin-bottom: 15px;
}
footer .contenedor-2 .apartado-a ol li h2 {
  font-weight: bold;
}
footer .contenido-footer {
  display: flex;
  align-items: center;
}
footer .contenido-footer .link-redes {
  display: flex;
  align-items: center;
  margin-top: auto;
}
footer .contenido-footer .link-redes .social-media-link {
  display: flex;
  align-items: center;
  justify-items: flex-end;
  position: relative;
  margin: 0 10px;
}
footer .contenido-footer .link-redes .social-media-link img {
  width: 30px;
  height: auto;
  transition: all 1s;
}
footer .contenido-footer .link-redes .social-media-link img:hover {
  width: 50px;
}

.destino {
  width: 90%;
  max-width: 100%;
  margin: 20px auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 1s;
}
.destino:hover {
  background-color: #078832;
  width: 100%;
}
.destino:hover p {
  color: #ddd;
}
.destino:hover li {
  color: #ddd;
}
.destino .imagen {
  float: right;
  margin-left: 20px;
  margin-top: 35px;
}
.destino .imagen img {
  max-width: 250px;
  border-radius: 5px;
  transition: all 2s;
}
.destino .imagen img:hover {
  max-width: 300px;
}
.destino h4 {
  font-size: 25px;
  margin-bottom: 10px;
}
.destino p {
  font-size: 20px;
  margin-bottom: 10px;
}

/*# sourceMappingURL=style.css.map */
