@charset "UTF-8";
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 0px;
  grid-template-areas: "nav" "footer";
}

.nav {
  grid-area: nav;
}

.footer {
  grid-area: footer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (max-width: 460px) {
  .social-media-link {
    margin: 0 5px; /* Ajustado para pantallas pequeñas */
  }
  .contenedor {
    flex-direction: column;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    margin-top: 10px;
    text-align: center;
  }
  .nav-links.active {
    display: flex;
  }
  .nav-links li {
    margin: 10px 0;
  }
  .boton {
    margin-top: 10px;
  }
}
@media screen and (max-width: 760px) {
  .contenedor {
    flex-direction: column;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    margin-top: 10px;
    text-align: center;
  }
  .nav-links.active {
    display: flex;
  }
  .nav-links li {
    margin: 10px 0;
  }
  .boton {
    margin-top: 10px;
  }
}
@media (max-width: 460px) {
  .social-media-link {
    margin: 0 5px; /* Ajustado para pantallas pequeñas */
  }
}
@media (max-width: 760px) {
  .social-media-link {
    margin: 0 5px; /* Ajustado para pantallas pequeñas */
  }
}
.navbar {
  background-color: #078832;
  color: #fff;
  padding: 10px 0;
  border-radius: 20px;
}
.navbar .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .contenedor .izquierda {
  display: flex;
  align-items: center;
}
.navbar .contenedor .izquierda .logo {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: all 1s;
}
.navbar .contenedor .izquierda .logo:hover {
  font-size: 30px;
  color: #000000;
  border-radius: 30px;
  background-color: #ddd;
  margin-left: 2px;
}
.navbar .contenedor .izquierda .boton {
  margin-left: 20px;
}
.navbar .contenedor .izquierda .boton input[type=text] {
  padding: 5px;
  margin-right: 5px;
}
.navbar .contenedor .izquierda .boton button[type=submit] {
  padding: 5px 10px;
  background-color: #fff;
  color: #333;
  border: none;
  cursor: pointer;
}
.navbar .contenedor .izquierda .boton button[type=submit]:hover {
  background-color: #ddd;
}
.navbar .nav-links {
  list-style: none;
  margin: 10px;
  padding: 10PX;
  display: flex;
  justify-content: flex-end;
}
.navbar .nav-links li {
  display: inline;
  margin-left: 20px;
}
.navbar .nav-links li:first-child {
  margin-left: 0;
}
.navbar .nav-links li a {
  color: #fff;
  text-decoration: none;
  transition: all 0.5s;
}
.navbar .nav-links li a:hover {
  border-radius: 10px;
  background-color: #000000;
  font-size: 24px;
}

.titulo {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-top: 50px;
}

.main-title {
  font-size: 36px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.contenedor-3 {
  position: relative;
}

.titulo {
  text-align: center;
  margin-top: 50px;
}

.fondo {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../Imagenes/660f1b49c1c43.jpeg") center center no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

footer {
  bottom: 0;
  height: 50%;
  width: 100%;
  background-color: #078832;
  color: #fff;
  display: flex;
}
footer .logo-d {
  width: 200px;
  height: 200px;
  padding: 2px 0;
}
footer .derechos {
  display: flex;
  justify-content: center;
  margin-top: auto;
  width: 100%;
  padding: 5px 0;
}
footer .contenedor-2 {
  display: flex;
  justify-content: space-between;
}
footer .contenedor-2 .apartado-a {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .contenedor-2 .apartado-a ol {
  margin-top: auto;
  list-style: none;
}
footer .contenedor-2 .apartado-a ol li {
  margin-bottom: 15px;
}
footer .contenedor-2 .apartado-a ol li h2 {
  font-weight: bold;
}
footer .contenido-footer {
  display: flex;
  align-items: center;
}
footer .contenido-footer .link-redes {
  display: flex;
  align-items: center;
  margin-top: auto;
}
footer .contenido-footer .link-redes .social-media-link {
  display: flex;
  align-items: center;
  justify-items: flex-end;
  position: relative;
  margin: 0 10px;
}
footer .contenido-footer .link-redes .social-media-link img {
  width: 30px;
  height: auto;
  transition: all 1s;
}
footer .contenido-footer .link-redes .social-media-link img:hover {
  width: 50px;
}

.destino {
  width: 90%;
  max-width: 100%;
  margin: 20px auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 1s;
}
.destino:hover {
  background-color: #078832;
  width: 100%;
}
.destino:hover p {
  color: #ddd;
}
.destino:hover li {
  color: #ddd;
}
.destino .imagen {
  float: right;
  margin-left: 20px;
}
.destino .imagen img {
  max-width: 200px;
  border-radius: 5px;
  transition: all 2s;
}
.destino .imagen img:hover {
  max-width: 250px;
}
.destino h4 {
  font-size: 20px;
  margin-bottom: 10px;
}
.destino p {
  font-size: 16px;
  margin-bottom: 10px;
}
.destino ul {
  list-style: upper-roman;
  padding: 0;
}
.destino ul li {
  font-size: 14px;
  margin-bottom: 1.5rem;
  padding-inline: 20px;
}
.destino ul li:last-child {
  margin-bottom: 0;
}

.catalogo-t {
  text-align: center;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(44, 156, 231, 0.5019607843);
}
.catalogo-t h1 {
  margin: 20px;
  padding: 10px;
  transition: all 1.2s;
  animation: fadeIn 1s ease-out;
}
.catalogo-t h1:hover {
  text-shadow: 2px 2px 4px rgba(218, 20, 20, 0.5019607843);
  font-size: 60px;
}

.sub-t {
  text-align: center;
  text-shadow: 2px 2px 4px rgba(44, 156, 231, 0.5019607843);
  padding: 10px 0;
  animation: zoomInOut 4s ease-in-out infinite;
}

/*# sourceMappingURL=style.css.map */
