*{
    margin: 0;
    padding: 0;
}

.apartado-a1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
    border: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    img{
        height: 250px;
        width: 250px;
    }
    h5{
        margin-top: 30px;
        margin-left: 30px;
    }
    P{
        margin: 30px;
        
    }

}    

 


