$general-color: #627347;
$text-color: #f9f9f9; 
$title: "Bebas Neue", sans-serif;
$text: "Exo 2", sans-serif;
$color-cards: #d3d7d2;


*{
    margin: 0;
    padding: 0;
}

.apartado-a1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
    border: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    img{
        height: 250px;
        width: 250px;
       
    }
    h2{
        margin-top: 30px;
        margin-left: 30px;
        font-family: $title;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    P{
        margin: 30px;
        font-family: $text;
    }   
    .az-nosotros{
        border-radius: 50%;
        width: 200px;
        padding: 5px;
        height: 200px;
        margin: 0 10px;
    }
}    

h1{
    font-size: 36px;  
    color: #000000;
    text-transform: uppercase; 
    letter-spacing: 2px; 
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 30px;
    animation: fadeIn 1s ease-out;
}



