*{
    margin: 0;
    padding: 0;
}


.apartado-a1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
    img{
        height: 100px;
        width: 100px;
    }
}    

.apartado-a2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
    img{
        height: 100px;
        width: 100px;
    }
}    