
@mixin color-HyD($color, $shadow) {
  background-color: $color;
  box-shadow: $shadow;
}

$title: "Bebas Neue", sans-serif;


footer {
    margin: 5px;
    bottom: 0;
    height: 50%;
    width: 99.2%;
    color: #000000a6;  
    display: flex;
    display: inline-block;
    border-radius: 25px;
    @include color-HyD(#627347, box-shadow 2px 2px 4px rgba(2, 0, 1, 0.5));

    .logo-d{
      width: 200px;
      height: 200px;
      padding: 2px 0;
    }
  
    .derechos{
      letter-spacing: 3px;
      display: flex;
      justify-content: center;
      margin-top: auto;
      width: 100%;
      padding: 5px 0;
      font-family: $title;
    }
  
    .contenedor-2 {
      display: flex;
      justify-content: space-between;
      
      .apartado-a{
        display: flex;
        align-items: center;

        .title-f{
          padding: 0;
          font-size: 45px;
          font-family: $title;
        }

        .info {
          margin-left: 10px;
        }

        p {
          margin-bottom: 0px;
          padding: 3px;
          font-family: $title;
        }
  

        
      }
    }
  
    .contenido-footer {
      display: flex;
      align-items: center;
      
      .link-redes {
        display: flex;
        align-items: center;
        margin-top: auto;
        
        .social-media-link {
          display: flex;
          align-items: center;
          justify-items: flex-end;
          position: relative;
          margin: 0 10px; 
          
          img {
            width: 30px;
            height: auto;
            transition: all 1s;
            
            &:hover{
              width: 50px;
            }
          }
        }
      }
    }
  }
  