$general-color: #627347;
$text-color: #f9f9f9; 
$title: "Bebas Neue", sans-serif;
$text: "Exo 2", sans-serif;
$color-cards: #d3d7d2;

.pqrs {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;

  form {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: 5px;
    font-family: $text;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea,
  select {
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  }

  input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: $general-color;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: $color-cards;
  }
}














