$general-color: #627347;
$text-color: #f9f9f9; 
$title: "Bebas Neue", sans-serif;
$text: "Exo 2", sans-serif;
$color-cards: #d3d7d2;

.spc-1{
    margin: 2rem;
    padding: 1%;
    
    .col{
        padding: 25px;
        
        .card{
            width: 100%;
            border-radius: 50px;
            align-items: center;
        
            img{
                padding: 25px;
                width: 100%;
                border-radius: 50px;
            }
            ol{
                li{
                    padding: 10px;
                }
            }
        }
    }
}

.catalogo-t{
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #2c9ce780;
    h1{
      margin: 20px;
      padding: 10px;
      transition: all 1.2s;
      animation: fadeIn 1s ease-out;
      font-family: $title;
      
      &:hover{
        text-shadow: 2px 2px 4px #da141480;
        font-size: 60px;
      }
    }
  }


.sub{
 max-width: 100%;
 margin: 10px;
 padding: 10px 20;

    .sub-t{
        width: 100%;
        font-size: 35px;
        text-align: center;
        text-shadow: 2px 2px 4px #2c9ce780;
        padding: 10px 0;
        animation: zoomInOut 4s ease-in-out infinite;
        margin-right: 2%;
        font-family: $title;
       }  
}

.card-body{
   


    h3{
        font-family: $title;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .card-text{
        font-family: $text;
    }

    li{
        font-family: $text;
    }

    p{
        font-family: $text;
    }
}
   
    