.spc-1{
    margin: 2rem;
    padding: 1%;
    .col{
        padding: 25px;
        .card{
            width: 100%;
            border-radius: 50px;
            align-items: center;
        
            img{
                padding: 25px;
                width: 100%;
                border-radius: 50px;
            }
            ol{
                li{
                    padding: 10px;
                }
            }
        }
    }
}
.sub-t{
    width: 99%;
    text-align: center;
    text-shadow: 2px 2px 4px #2c9ce780;
    padding: 10px 0;
    animation: zoomInOut 4s ease-in-out infinite;
   }  
   
   