@import "_separaciones";
@import "_services";
@import "_about"; 
@import "_navbar";
@import "_footer";
@import	"_index";
@import  "_form";
@import "_pqrs";


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes zoomInOut {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.5);
  }
}
@keyframes slideFromTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 320px) {
  .navbar {
    .contenedor {
      display: flex;
      flex-direction: column;
      align-items: center;
      .izquierda {
        .boton {
          margin-left: 10px;
          input[type="text"] {
            padding: 3px;
            margin-right: 3px;
          }
          button[type="submit"] {
            padding: 3px 2px;
            margin: 2px;
          }
        }
        .logo {
          font-size: 18px;
          padding: 15px;
          width: auto;
        }
      }
    }
    .nav-links {
      margin-right: 0;
    }
  }

.derechos {
  display: flex;
  justify-content: center;
  margin-top: auto;
  width: 100%;
  padding: 5px 0;
}

.contenedor-2 {
  display: flex;
  flex-direction: column; /* Para tamaños de pantalla más pequeños */
  justify-content: space-between;

  .apartado-a {
    display: flex;
    flex-direction: column; /* Para tamaños de pantalla más pequeños */
    justify-content: center;
    align-items: center;

    ol {
      margin-top: auto;
      list-style: none;

      .title-f {
        font-size: 35px;
        margin-bottom: 5px;
      }

      li {
        margin-bottom: 15px;
      }
    }
  }
}

.contenido-footer {
  display: flex;
  flex-direction: column; /* Para tamaños de pantalla más pequeños */
  align-items: center;

  .link-redes {
    display: flex;
    align-items: center;
    margin-top: auto;

    .social-media-link {
      display: flex;
      align-items: center;
      justify-items: flex-end;
      position: relative;
      margin: 0 10px;

      img {
        width: 30px;
        height: auto;
        transition: all 1s;

        &:hover {
          width: 50px;
        }
      }
    }
  }
}

  
  .titulo {
    padding: 20px;
  }
  .container {
    flex-direction: column-reverse;
    .destino {
      .imagen {
        img {
          max-width: 150px;
          float: none;
          margin: 0 auto 20px;
          &:hover {
            max-width: 200px;
          }
        }
      }
    }
  }


}

@media only screen and (max-width: 350px) {
  .navbar {
    .contenedor {
      display: flex;
      flex-direction: column;
      align-items: center;
      .izquierda {
        .boton {
          margin-left: 10px;
          input[type="text"] {
            padding: 3px;
            margin-right: 3px;
          }
          button[type="submit"] {
            padding: 3px 2px;
            margin: 2px;
          }
        }
        .logo {
          font-size: 18px;
          padding: 15px;
          width: auto;
        }
      }
    }
    .nav-links {
      margin-right: 0;
      a{
        
      }
    }
  }

.derechos {
  display: flex;
  justify-content: center;
  margin-top: auto;
  width: 100%;
  padding: 5px 0;
}

.contenedor-2 {
  display: flex;
  flex-direction: column; /* Para tamaños de pantalla más pequeños */
  justify-content: space-between;

  .apartado-a {
    display: flex;
    flex-direction: column; /* Para tamaños de pantalla más pequeños */
    justify-content: center;
    align-items: center;

    ol {
      margin-top: auto;
      list-style: none;

      .title-f {
        font-size: 35px;
        margin-bottom: 5px;
      }

      li {
        margin-bottom: 15px;
      }
    }
  }
}

.contenido-footer {
  display: flex;
  flex-direction: column; /* Para tamaños de pantalla más pequeños */
  align-items: center;

  .link-redes {
    display: flex;
    align-items: center;
    margin-top: auto;

    .social-media-link {
      display: flex;
      align-items: center;
      justify-items: flex-end;
      position: relative;
      margin: 0 10px;

      img {
        width: 30px;
        height: auto;
        transition: all 1s;

        &:hover {
          width: 50px;
        }
      }
    }
  }
}

  
  .titulo {
    padding: 20px;
  }
  .container {
    flex-direction: column-reverse;
    .destino {
      .imagen {
        img {
          max-width: 150px;
          float: none;
          margin: 0 auto 20px;
          &:hover {
            max-width: 200px;
          }
        }
      }
    }
  }


}

@media only screen and (max-width: 375px) {
  .navbar {
    .contenedor {
      display: flex;
      flex-direction: column;
      align-items: center;
      .izquierda {
        .boton {
          margin-left: 10px;
          input[type="text"] {
            padding: 3px;
            margin-right: 3px;
          }
          button[type="submit"] {
            padding: 3px 2px;
            margin: 2px;
          }
        }
        .logo {
          font-size: 18px;
          padding: 15px;
          width: auto;
        }
      }
    }
    .nav-links {
      margin: 0;

      a{
        font-size: 10px;
      }
    }
  }

.derechos {
  display: flex;
  justify-content: center;
  margin-top: auto;
  width: 100%;
  padding: 5px 0;
  font-size: 12px;
}

.contenedor-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .apartado-a {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;

    ol {
      margin-top: auto;
      list-style: none;
      right: 20px;

      .title-f {
        font-size: 35px;
        margin-bottom: 5px;
      }

      li {
        margin-bottom: 15px;
      }
    }
  }
}

.contenido-footer {
  display: flex;
  flex-direction: column; 
  align-items: center;

  .link-redes {
    display: flex;
    align-items: center;
    margin-top: auto;

    .social-media-link {
      display: flex;
      align-items: center;
      justify-items: flex-end;
      position: relative;
      margin: 0 10px;

      img {
        width: 30px;
        height: auto;
        transition: all 1s;

        &:hover {
          width: 50px;
        }
      }
    }
  }
}

.destino{
  width: 80%;

}


}

@media only screen and (max-width: 400px) {
  .navbar {
    .contenedor {
      display: flex;
      flex-direction: column;
      align-items: center;
      .izquierda {
        .boton {
          margin-left: 10px;
          input[type="text"] {
            padding: 3px;
            margin-right: 3px;
          }
          button[type="submit"] {
            padding: 3px 2px;
            margin: 2px;
          }
        }
        .logo {
          font-size: 18px;
          padding: 15px;
          width: auto;
        }
      }
    }
    .nav-links {
      margin-right: 0;
    }
  }

.derechos {
  display: flex;
  justify-content: center;
  margin-top: auto;
  width: 100%;
  padding: 5px 0;
}

.contenedor-2 {
  display: flex;
  flex-direction: column; /* Para tamaños de pantalla más pequeños */
  justify-content: space-between;

  .apartado-a {
    display: flex;
    flex-direction: column; /* Para tamaños de pantalla más pequeños */
    justify-content: center;
    align-items: center;

    ol {
      margin-top: auto;
      list-style: none;

      .title-f {
        font-size: 35px;
        margin-bottom: 5px;
      }

      li {
        margin-bottom: 15px;
      }
    }
  }
}

.contenido-footer {
  display: flex;
  flex-direction: column; /* Para tamaños de pantalla más pequeños */
  align-items: center;

  .link-redes {
    display: flex;
    align-items: center;
    margin-top: auto;

    .social-media-link {
      display: flex;
      align-items: center;
      justify-items: flex-end;
      position: relative;
      margin: 0 10px;

      img {
        width: 30px;
        height: auto;
        transition: all 1s;

        &:hover {
          width: 50px;
        }
      }
    }
  }
}

  
  .titulo {
    padding: 20px;
  }
  .container {
    flex-direction: column-reverse;
    .destino {
      .imagen {
        img {
          max-width: 150px;
          float: none;
          margin: 0 auto 20px;
          &:hover {
            max-width: 200px;
          }
        }
      }
    }
  }


}

@media only screen and (max-width: 425px) {
  .navbar {
    .contenedor {
      display: flex;
      flex-direction: column;
      align-items: center;
      .izquierda {
        .boton {
          margin-left: 10px;
          input[type="text"] {
            padding: 3px;
            margin-right: 3px;
          }
          button[type="submit"] {
            padding: 3px 2px;
            margin: 2px;
          }
        }
        .logo {
          font-size: 18px;
          padding: 15px;
          width: auto;
        }
      }
    }
    .nav-links {
      margin-right: 0;
    }
  }

.derechos {
  display: flex;
  justify-content: center;
  margin-top: auto;
  width: 100%;
  padding: 5px 0;
}

.contenedor-2 {
  display: flex;
  flex-direction: column; /* Para tamaños de pantalla más pequeños */
  justify-content: space-between;

  .apartado-a {
    display: flex;
    flex-direction: column; /* Para tamaños de pantalla más pequeños */
    justify-content: center;
    align-items: center;

    ol {
      margin-top: auto;
      list-style: none;

      .title-f {
        font-size: 35px;
        margin-bottom: 5px;
      }

      li {
        margin-bottom: 15px;
      }
    }
  }
}

.contenido-footer {
  display: flex;
  flex-direction: column; /* Para tamaños de pantalla más pequeños */
  align-items: center;

  .link-redes {
    display: flex;
    align-items: center;
    margin-top: auto;

    .social-media-link {
      display: flex;
      align-items: center;
      justify-items: flex-end;
      position: relative;
      margin: 0 10px;

      img {
        width: 30px;
        height: auto;
        transition: all 1s;

        &:hover {
          width: 50px;
        }
      }
    }
  }
}

  
  .titulo {
    padding: 20px;
  }
  .container {
    flex-direction: column-reverse;
    .destino {
      .imagen {
        img {
          max-width: 150px;
          float: none;
          margin: 0 auto 20px;
          &:hover {
            max-width: 200px;
          }
        }
      }
    }
  }


}

@media only screen and (max-width: 450px) {
  .navbar {
    .contenedor {
      display: flex;
      flex-direction: column;
      align-items: center;
      .izquierda {
        .boton {
          margin-left: 10px;
          input[type="text"] {
            padding: 3px;
            margin-right: 3px;
          }
          button[type="submit"] {
            padding: 3px 2px;
            margin: 2px;
          }
        }
        .logo {
          font-size: 18px;
          padding: 15px;
          width: auto;
        }
      }
    }
    .nav-links {
      margin-right: 0;
    }
  }

.derechos {
  display: flex;
  justify-content: center;
  margin-top: auto;
  width: 100%;
  padding: 5px 0;
}

.contenedor-2 {
  display: flex;
  flex-direction: column; /* Para tamaños de pantalla más pequeños */
  justify-content: space-between;

  .apartado-a {
    display: flex;
    flex-direction: column; /* Para tamaños de pantalla más pequeños */
    justify-content: center;
    align-items: center;

    ol {
      margin-top: auto;
      list-style: none;

      .title-f {
        font-size: 35px;
        margin-bottom: 5px;
      }

      li {
        margin-bottom: 15px;
      }
    }
  }
}

.contenido-footer {
  display: flex;
  flex-direction: column; /* Para tamaños de pantalla más pequeños */
  align-items: center;

  .link-redes {
    display: flex;
    align-items: center;
    margin-top: auto;

    .social-media-link {
      display: flex;
      align-items: center;
      justify-items: flex-end;
      position: relative;
      margin: 0 10px;

      img {
        width: 30px;
        height: auto;
        transition: all 1s;

        &:hover {
          width: 50px;
        }
      }
    }
  }
}

  
  .titulo {
    padding: 20px;
  }
  .container {
    flex-direction: column-reverse;
    .destino {
      .imagen {
        img {
          max-width: 150px;
          float: none;
          margin: 0 auto 20px;
          &:hover {
            max-width: 200px;
          }
        }
      }
    }
  }


}

@media only screen and (max-width: 475px) {
  .navbar {
    .contenedor {
      display: flex;
      flex-direction: column;
      align-items: center;
      .izquierda {
        .boton {
          margin-left: 10px;
          input[type="text"] {
            padding: 3px;
            margin-right: 3px;
          }
          button[type="submit"] {
            padding: 3px 2px;
            margin: 2px;
          }
        }
        .logo {
          font-size: 18px;
          padding: 15px;
          width: auto;
        }
      }
    }
    .nav-links {
      margin-right: 0;
    }
  }

.derechos {
  display: flex;
  justify-content: center;
  margin-top: auto;
  width: 100%;
  padding: 5px 0;
}

.contenedor-2 {
  display: flex;
  flex-direction: column; /* Para tamaños de pantalla más pequeños */
  justify-content: space-between;

  .apartado-a {
    display: flex;
    flex-direction: column; /* Para tamaños de pantalla más pequeños */
    justify-content: center;
    align-items: center;

    ol {
      margin-top: auto;
      list-style: none;

      .title-f {
        font-size: 35px;
        margin-bottom: 5px;
      }

      li {
        margin-bottom: 15px;
      }
    }
  }
}

.contenido-footer {
  display: flex;
  flex-direction: column; /* Para tamaños de pantalla más pequeños */
  align-items: center;

  .link-redes {
    display: flex;
    align-items: center;
    margin-top: auto;

    .social-media-link {
      display: flex;
      align-items: center;
      justify-items: flex-end;
      position: relative;
      margin: 0 10px;

      img {
        width: 30px;
        height: auto;
        transition: all 1s;

        &:hover {
          width: 50px;
        }
      }
    }
  }
}

  
  .titulo {
    padding: 20px;
  }
  .container {
    flex-direction: column-reverse;
    .destino {
      .imagen {
        img {
          max-width: 150px;
          float: none;
          margin: 0 auto 20px;
          &:hover {
            max-width: 200px;
          }
        }
      }
    }
  }


}



  


