@import "_separaciones";
@import "_services";
@import "_about"; 
@import "_navbar";
@import "_footer";
@import	"_index";
@import  "_form";
@import "_pqrs";


body{
  background-color: #d3d7d2;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes zoomInOut {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.5);
  }
}
@keyframes slideFromTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 360px) {

  .title-f {
    font-size: 35px;
  }

  .footer {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .derechos {
    display: flex;
    justify-content: center;
    margin-top: auto;
    width: 100%;
    padding: 2px 0;
    font-size: 2px;
  }

  .contenedor-2 {
    display: flex;
    flex-direction: column;
    

    .apartado-a {
      display: flex;
      flex-direction: column;

      .info{
        align-items: center;
        p{
          margin-top: auto;
          list-style: none;
  
          .title-f {
            font-size: 30px;
            margin-bottom: 5px;
          }
        }
      }

    }
  }

  .contenido-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;

    .link-redes {
      display: flex;
      align-items: center;
      margin-top: auto;

      .social-media-link {
        display: flex;
        align-items: center;
        justify-items: flex-end;
        position: relative;
        margin: 0 10px;

        img {
          width: 30px;
          height: auto;
          transition: all 1s;

          &:hover {
            width: 50px;
          }
        }
      }
    }
  }
  
  .titulo {
    padding: 20px;
    text-align: center;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .destino {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h2{
      padding: 5px;
    }

    .imagen {
      order: 1; 
    }
  }

  .apartado-a1 {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column-reverse;

    img {
      height: 250px;
      width: s250px;
      order: 1;
      padding: 10px;
    }

    h2 {
      margin-top: 10px;
      margin: 12px;
      text-align: center;
      padding: 10px;
    }

    p {
      margin: 10px;
      text-align: justify;
      padding: 10px;
    }

    .sub-tn{
      text-align: center;
      padding: 10px;
    }

    .az-nosotros {
      width: 225px;
      height: 225px;
      padding: 10px;
    }
  }  

  .pqrs {
    padding: 10px; 
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea,
  select {
    font-size: 14px; 
  }

  input[type="submit"] {
    font-size: 14px; 
  }
}

@media only screen and (max-width: 390px) {

  .title-f {
    font-size: 35px;
  }

  .footer {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .derechos {
    display: flex;
    justify-content: center;
    margin-top: auto;
    width: 100%;
    padding: 5px 0;
    font-size: 12px;
  }

  .contenedor-2 {
    display: flex;
    flex-direction: column;
    

    .apartado-a {
      display: flex;
      flex-direction: column;

      p{
        margin-top: auto;
        list-style: none;
        align-items: center;

        .title-f {
          font-size: 30px;
          margin-bottom: 5px;
        }
      }
    }
  }

  .contenido-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;

    .link-redes {
      display: flex;
      align-items: center;
      margin-top: auto;

      .social-media-link {
        display: flex;
        align-items: center;
        justify-items: flex-end;
        position: relative;
        margin: 0 10px;

        img {
          width: 30px;
          height: auto;
          transition: all 1s;

          &:hover {
            width: 50px;
          }
        }
      }
    }
  }
  
  .titulo {
    padding: 20px;
    text-align: center;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .destino {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h2{
      padding: 5px;
    }

    .imagen {
      order: 1; 
    }
  }

  .apartado-a1 {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column-reverse;

    img {
      height: 250px;
      width: s250px;
      order: 1;
      padding: 10px;
    }

    h2 {
      margin-top: 10px;
      margin: 12px;
      text-align: center;
      padding: 10px;
    }

    p {
      margin: 10px;
      text-align: justify;
      padding: 10px;
    }

    .sub-tn{
      text-align: center;
      padding: 10px;
    }

    .az-nosotros {
      width: 225px;
      height: 225px;
      padding: 10px;
    }
  }  
}

@media only screen and (max-width: 415px) {

  .title-f {
    font-size: 35px;
  }

  .footer {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .derechos {
    display: flex;
    justify-content: center;
    margin-top: auto;
    width: 100%;
    padding: 5px 0;
    font-size: 12px;
  }

  .contenedor-2 {
    display: flex;
    flex-direction: column;
    

    .apartado-a {
      display: flex;
      flex-direction: column;

      p{
        margin-top: auto;
        list-style: none;
        align-items: center;

        .title-f {
          font-size: 30px;
          margin-bottom: 5px;
        }
      }
    }
  }

  .contenido-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;

    .link-redes {
      display: flex;
      align-items: center;
      margin-top: auto;

      .social-media-link {
        display: flex;
        align-items: center;
        justify-items: flex-end;
        position: relative;
        margin: 0 10px;

        img {
          width: 30px;
          height: auto;
          transition: all 1s;

          &:hover {
            width: 50px;
          }
        }
      }
    }
  }
  
  .titulo {
    padding: 20px;
    text-align: center;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .destino {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h2{
      padding: 5px;
    }

    .imagen {
      order: 1; 
    }
  }

  .apartado-a1 {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column-reverse;

    img {
      height: 250px;
      width: s250px;
      order: 1;
      padding: 10px;
    }

    h2 {
      margin-top: 10px;
      margin: 12px;
      text-align: center;
      padding: 10px;
    }

    p {
      margin: 10px;
      text-align: justify;
      padding: 10px;
    }

    .sub-tn{
      text-align: center;
      padding: 10px;
    }

    .az-nosotros {
      width: 225px;
      height: 225px;
      padding: 10px;
    }
  }  
}

@media only screen and (max-width: 450px) {

  .navbar-brand{
    font-size: 25px;
  }

  .nav-link{
    font-size: 15px;
  }

  .title-f {
    font-size: 35px;
  }

  .footer {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .derechos {
    display: flex;
    justify-content: center;
    margin-top: auto;
    width: 100%;
    padding: 5px 0;
    font-size: 12px;
  }

  .contenedor-2 {
    display: flex;
    flex-direction: column;
    
    .apartado-a {
      display: flex;
      flex-direction: column;

      .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; 
        
        .title-f {
          font-size: 30px;
          margin-bottom: 5px;
        }
  
        p {
          margin-top: 5px;
          list-style: none;
        }
      }
    }
  }

  .contenido-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;

    .link-redes {
      display: flex;
      align-items: center;
      margin-top: auto;

      .social-media-link {
        display: flex;
        align-items: center;
        justify-items: flex-end;
        position: relative;
        margin: 0 10px;

        img {
          width: 30px;
          height: auto;
          transition: all 1s;

          &:hover {
            width: 50px;
          }
        }
      }
    }
  }
  
  .titulo {
    padding: 20px;
    text-align: center;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .destino {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h2{
      padding: 5px;
    }

    .imagen {
      order: 1; 
    }
  }

  .apartado-a1 {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column-reverse;

    img {
      height: 250px;
      width: s250px;
      order: 1;
      padding: 10px;
    }

    h2 {
      margin-top: 10px;
      margin: 12px;
      text-align: center;
      padding: 10px;
    }

    p {
      margin: 10px;
      text-align: justify;
      padding: 10px;
    }

    .sub-tn{
      text-align: center;
      padding: 10px;
    }

    .az-nosotros {
      width: 225px;
      height: 225px;
      padding: 10px;
    }
  }  
}