@import "_separaciones";
@import "_services";
@import "_about"; 
@import "_navbar";
@import "_footer";
@import	"_index";
@import  "_form";

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes zoomInOut {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.5);
  }
}
@keyframes slideFromTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 390px) {
  .footer{
    padding: 1px;
    ol{
      .title-f{
        font-size: 10px;
      }
    }
    .logo-d{
      width: 175px;
      height: 175px;
    }
    .link-redes{
     flex-direction: column;
     .social-media-link{
      padding: 10px;
     } 
    }
  }

  .navbar {
    .contenedor {
      flex-direction: column;
      align-items: center;
      .izquierda {
        .boton {
          margin-left: 10px;
          input[type="text"] {
            padding: 3px;
            margin-right: 3px;
            width: auto;
            height: auto;
          }
          button[type="submit"] {
            padding: 3px 8px;
            width: auto;
            height: auto;
          }
        } 
        .logo{
          font-size: 18px;
          padding: 15px;
          width: auto;
          
        }
      }
    }

    .nav-links {
      margin-right: 0;
    }
  }

  .titulo {
    padding: 20px;
  }
  .container{
    flex-direction: column-reverse;
 
    .destino{
      .imagen{
        img{
          max-width: 150px;
          float: none;
          margin: 0 auto 20px; 
          &:hover{
            max-width: 200px;
          }
        }
      }
    }
  }
  .destino {
    width: 95%;

    .imagen {
      float: none;
      margin-bottom: auto;
    }
  }
  .apartado-a1{
    flex-direction: column;
  }
  .contenedor{
    .boton{
      .button{
        align-items: center;
        flex-direction: column;
      }
    }
  }
}





  


